<!DOCTYPE html>
{% extends "theme.html"%}
{% block title %}Dodaj do bazy{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='widok.css') }}">
<div class="form">
<form action="{{url_for('baza_danych')}}" method="POST">
    <div class="informacje">
        <div>Informacje</div> <br>
        <div class="input"> {{values.nazwabanku}} </div> <br>
        <div class="input"> {{values.suma}} </div> <br>
        <div class="input"> {{values.zrzeszenie}} </div> <br>
        <div class="input"> {{values.imienazw}} </div> <br>
    </div>
    <div class="kontakt">
        <div>Kontakt</div> <br>
        <div class="input"> {{values.miejsc}} </div> <br>
        <div class="input"> {{values.ulica}} </div> <br>
        <div class="input"> {{values.kodp}} </div> <br>
        <div class="input"> {{values.nrtel}} </div> <br>
        <div class="input"> {{values.email}} </div> <br>
        <div class="input"> {{values.www}} </div> <br>
    </div>
    <div class="data">
        <div>Data</div>
        <div class="input"> {{values.data}} </div> <br>
    </div>
    <div class="przycisk">
        <button type="submit" value="submit">Zapisz</button>
    </div>
    <div class="przycisk">
        <button type="reset" value="reset">Resetuj</button>
    </div>
    <div class="kom"> 
        <div>Komentarz</div> <br>
        <div class="komen"> {{values.komentarz}} </div> <br>
    </div>

</form></div>
{% endblock %}